

.header{
    height: var(--HeaderHeight);
    text-align: center;
    padding-inline: 48px;
    line-height: 64px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap:20px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: var(--textL);
    color: #ffee00;
    
    
}

.footer{
    height: var(--FooterHeight);
    font-size: var(--textS);
    color: #0f0f0f;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.9); 
}

.labelText{
        letter-spacing: .1em;
        text-shadow: 
          -1px -1px 1px #111, 
          2px 2px 1px #363636;
      
}