

.header{
    height: var(--HeaderHeight);
    text-align: center;
    padding-inline: 48px;
    line-height: 64px;
    width: 100%;
    background-color: bisque;
    
}

.footer{
    height: var(--FooterHeight);
    background-color: black;
}