

.header{
    height: var(--HeaderHeight);
    text-align: center;
    padding-inline: 48px;
    line-height: 64px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap:20px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    
    
}

.footer{
    height: var(--FooterHeight);
    background-color: black;
}

.labelText{
    font-size: var(--textS);
}