.container{
width: 100vw;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.content{
    background-color: #fff;
}
.footer{
    height: var(--FooterHeight);
    text-align: center;
    padding-inline: 48px;
    line-height: 64px;
    width: 100vw;
    background-color: bisque;
}